* {
    font-family: sans-serif;
}

#date {
    font-style: italic;
}

body {
    width: 1080px;
    margin: auto;
}

a:hover {
    cursor: default;
    font-weight: 800;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.top-nav {
    margin: 0 2em 0.5em;
}

ol, ul {
    margin: 2em 0;
}

li {
    margin: 0.5em;
}